.env
__pycache__/
*.pyc/
.idea/
.vscode/
config/
/logs/
frontend/node_modules/
frontend/dist/
src/__pycache__/config.cpython-313.pyc
src/__pycache__/ragflow_client.cpython-313.pyc
src/__pycache__/config.cpython-313.pyc
